.parent {
  border-radius: 12px 12px 12px 12px;
  border: 2px solid #fc0505;

  max-width: 1000px;
  margin: 0 auto;
  padding: 1px auto;

  overflow: hidden;
}

a {
    font-family: "Arial";
    color: black;
}

a:visited {
  font-weight: bold;
}

.header {
  margin: 7px auto 1px;
  width: 988px;
}

.headDocBar {
  max-width: 988px;
  height: 27px;
  margin: 0 auto;
  background-color: #DCDCDC;

  display: flex;
  justify-content: flex-start;
}

.headDoc {
    margin: 2px 2px 0;
    padding: 4px;
    
    border-radius: 10px 10px 0px 0px;
    border: 1px solid black;
    
    box-sizing: border-box;
    
    font-family: "Arial";
    font-size: 13px;

    background: rgba(252,252,252,1);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(240,240,240,1) 41%, rgba(235,235,235,1) 47%, rgba(235,235,235,1) 100%);  
}

.headDoc a {
    text-decoration: none;
    display: block;
    height: 100%;
}

.headDoc:hover {
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 26%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
}

.main {
  max-width: 988px;
  display: flex;
  margin: 7px 6px 4px;
    align-items: flex-start;
}

.leftBar {
  width: 21%;
  float: left;
  margin-left: 4px;
}

.sideBarDiv {
  padding: 7px 6px;
  padding-bottom: 5px;
  margin-bottom: 6px;

  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;

  width: 100%;
  box-sizing: border-box;
}

.searchLine {
    margin: 0 6px;
    width: 180px;
    box-sizing: border-box;
}

.searchButton {
    margin: 5px 10px;

  width: 85px;
  height: 27px;

  background-color: #C22222;
  color: white;

  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  border-radius: 6px 6px 6px 6px;
  border: 0;
}

.redTitle {
  border-radius: 6px 6px 6px 6px;
  background-color: #C22222;
  color: white;

  padding-left: 12px;
  line-height: 25px;

  font-family: "Arial";
  font-size: 13px;
}

.midBar {
    width: 54%;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid #C0C0C0;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;

    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    box-sizing: border-box;

    font-family: "Arial";
    font-size: 13px;
}

.author {
    display: flex;
    align-items: center;
}

.authorIcon {
    margin-left: 4px;
    margin-right: 4px;
}

.authorText {

}

.rightBar {
  width: 23%;
  float: right;
  margin-right: 4px;
}

ul {
  padding-left: 18px;

  list-style-image: url(../image/ulicon.png);
  font-family: "Arial";
  font-size: 13px;
}

.footer {
    max-width: 988px;
    margin: 7px 10px 4px;
    
    font-family: "Arial";
    font-size: 11px;
}

.rssIcon {
    margin-right: 4px;
    float: left;
    box-sizing: border-box;
}

.rssText {
    line-height: 14px;
}